/* line 14, ../sass/calendar.sass */
#calendar {
  width: 940px;
  margin: 0 auto;
}

/* line 19, ../sass/calendar.sass */
.day_li, .weekday_li {
  width: 132px;
  height: 110px;
  float: left;
  margin-right: 2px;
  margin-bottom: 6px;
}
/* line 26, ../sass/calendar.sass */
.day_li:last-child, .weekday_li:last-child {
  margin-right: 0;
}

/* line 30, ../sass/calendar.sass */
.weekday_li {
  height: 20px;
}

/* line 34, ../sass/calendar.sass */
.weekday, .calendar_day {
  padding: 1px;
  border: 1px solid #eeeeee;
  height: 100%;
}

/* line 39, ../sass/calendar.sass */
.calendar_day:hover {
  background: #eeeeee;
}

/* line 42, ../sass/calendar.sass */
.day_num {
  text-align: right;
}

/* line 45, ../sass/calendar.sass */
.calendar_day.event {
  font-size: 0.7em;
}

/* line 48, ../sass/calendar.sass */
.calendar_day.blank {
  border: none;
}
/* line 50, ../sass/calendar.sass */
.calendar_day.blank:hover {
  background: white;
}

/* line 52, ../sass/calendar.sass */
#calendar_controls {
  width: 100%;
}
/* line 54, ../sass/calendar.sass */
#calendar_controls #previous_month, #calendar_controls #next_month {
  width: 10%;
}
/* line 56, ../sass/calendar.sass */
#calendar_controls #current_month {
  width: 80%;
}

/* line 58, ../sass/calendar.sass */
#calendar_headers, #calendar_controls {
  text-align: center;
}

/* line 61, ../sass/calendar.sass */
.calendar_control {
  float: left;
  font-size: 2em;
}

/* line 66, ../sass/calendar.sass */
.today {
  border: 1px solid #00a2c6;
}
