/* line 14, ../sass/gallery.sass */
#gallery {
  width: 740px;
  margin: 0 auto;
  text-align: center;
}

/* line 19, ../sass/gallery.sass */
.gallery_li {
  float: left;
  margin: 5px;
}


/* line 29, ../sass/gallery.sass */
.gallery_icon {
  text-align: center;
}
/* line 33, ../sass/gallery.sass */
.gallery_icon .img_wrap {
  height: 170px;
  width: 170px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 38, ../sass/gallery.sass */
.gallery_icon .img_wrap img {
  height: 170px;
}

/* line 41, ../sass/gallery.sass */
.old_picture {
  border: 2px solid #e2e2e2;
  text-align: center;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 48, ../sass/gallery.sass */
.old_picture img {
  width: 100%;
  min-height: 140px;
}
/* line 51, ../sass/gallery.sass */
.old_picture p {
  padding: 2px;
  text-decoration: underline;
}

/* line 55, ../sass/gallery.sass */
.item_title {
  width: 100px;
  margin: 0 auto;
  white-space: wrap;
}
