/* line 4, ../sass/main.administrator.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/main.administrator.sass */
body {
  background: #003d4c;
  color: white;
  font-family: "lucida grande", verdana, helvetica, arial, sans-serif;
  font-size: 90%;
  font-margin: 0;
}

/* line 15, ../sass/main.administrator.sass */
a {
  color: #003d4c;
}
/* line 17, ../sass/main.administrator.sass */
a:hover {
  color: #367889;
  text-decoration: none;
}
/* line 20, ../sass/main.administrator.sass */
a img {
  border: none;
}

/* line 22, ../sass/main.administrator.sass */
h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

/* line 26, ../sass/main.administrator.sass */
h1 {
  background: white;
  color: #003d4c;
  font-size: 100%;
}

/* line 30, ../sass/main.administrator.sass */
h2 {
  background: white;
  color: #ee3322;
  font-family: "Gill Sans", "lucida grande", helvetica, arial, sans-serif;
  font-size: 190%;
}

/* line 36, ../sass/main.administrator.sass */
h3 {
  color: #2c6877;
  font-family: "Gill Sans", "lucida grande", helvetica, arial, sans-serif;
  font-size: 165%;
}

/* line 41, ../sass/main.administrator.sass */
h4 {
  color: #999933;
  font-weight: normal;
}

/* line 44, ../sass/main.administrator.sass */
ul, li {
  margin: 0 12px;
}

/* line 46, ../sass/main.administrator.sass */
p {
  maring: 0 0 1em 0;
}

/*
 * Layout */
/* line 52, ../sass/main.administrator.sass */
#container {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 57, ../sass/main.administrator.sass */
#header {
  padding: 10px 20px;
}
/* line 59, ../sass/main.administrator.sass */
#header h1 {
  line-height: 20px;
  background: #003d4c;
}
/* line 63, ../sass/main.administrator.sass */
#header h1 a {
  color: white;
  background: #003d4c;
  font-weight: normal;
  text-decoration: none;
}
/* line 68, ../sass/main.administrator.sass */
#header h1 a:hover {
  color: white;
  background: #003d4c;
  text-decoration: underline;
}

/* line 72, ../sass/main.administrator.sass */
#content {
  border: 3px solid #bbbbbb;
  background: white;
  clear: both;
  color: #333333;
  padding: 10px 20px 40px 20px;
  overflow: auto;
}

/* line 80, ../sass/main.administrator.sass */
#footer {
  clear: both;
  padding: 6px 10px;
  text-align: right;
}

/*
 * Containers **/
 *
 * div.form, div.index, div.view
 * 	float: right
 * 	width: 76%
 * 	border-left: 1px solid #666
 * 	padding: 10px 2% */
/* line 94, ../sass/main.administrator.sass */
div.actions {
  float: left;
  width: 16%;
}
/* line 98, ../sass/main.administrator.sass */
div.actions h3 {
  padding-top: 0;
  color: #777777;
}

/*
 * Tables */
/* line 105, ../sass/main.administrator.sass */
table {
  border-right: 0;
  clear: both;
  color: #333333;
  margin-bottom: 10px;
  width: 100%;
}
/* line 113, ../sass/main.administrator.sass */
table tr td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
}
/* line 118, ../sass/main.administrator.sass */
table tr:nth-child(even) {
  background: #f9f9f9;
}
/* line 121, ../sass/main.administrator.sass */
table td.actions a {
  margin: 0px 6px;
  padding: 2px 5px;
}

/* line 125, ../sass/main.administrator.sass */
th {
  border: 0;
  border-bottom: 2px solid #555555;
  text-align: left;
  padding: 4px;
}
/* line 130, ../sass/main.administrator.sass */
th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}
/* line 135, ../sass/main.administrator.sass */
th a .asc:after {
  content: " ?";
}
/* line 138, ../sass/main.administrator.sass */
th a .desc:after {
  content: " ?";
}

/* line 141, ../sass/main.administrator.sass */
td.actions {
  textd-align: center;
  whitespace: nowrap;
}

/* line 145, ../sass/main.administrator.sass */
.cake-sql-log {
  background: white;
}
/* line 147, ../sass/main.administrator.sass */
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
  font-family: Monaco, Consolas, "Courier New", monospaced;
}
/* line 152, ../sass/main.administrator.sass */
.cake-sql-log caption {
  color: white;
}

/*
 * Paging */
/* line 158, ../sass/main.administrator.sass */
.paging {
  background: white;
  color: #cccccc;
  margin-top: 1em;
  clear: both;
}
/* line 164, ../sass/main.administrator.sass */
.paging .current, .paging .disabled, .paging a {
  text-decoration: none;
  display: inline-block;
}
/* line 168, ../sass/main.administrator.sass */
.paging .prev {
  border-left: 1px solid #cccccc;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 173, ../sass/main.administrator.sass */
.paging .next {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 177, ../sass/main.administrator.sass */
.paging .disabled {
  color: #dddddd;
}
/* line 179, ../sass/main.administrator.sass */
.paging .disabled:hover {
  background: transparent;
}
/* line 181, ../sass/main.administrator.sass */
.paging .current {
  background: #efefef;
  color: #c73e14;
}

/* line 185, ../sass/main.administrator.sass */
.paging > span {
  display: inline-block;
  border: 1px solid #cccccc;
  border-left: 0;
}
/* line 189, ../sass/main.administrator.sass */
.paging > span:hover {
  background: #efefef;
}

/*
 * Scaffold View */
/* line 196, ../sass/main.administrator.sass */
dl dd:nth-child(4n+2), dl dt:nth-child(4n+1) {
  background: #f4f4f4;
}

/* line 198, ../sass/main.administrator.sass */
dt {
  font-weight: bold;
  padding-left: 4px;
  vertical-align: top;
  width: 10em;
}

/* line 203, ../sass/main.administrator.sass */
dd {
  margin-left: 10em;
  margin-top: -2em;
  vertical-align: top;
}

/*
 * Forms */
/* line 212, ../sass/main.administrator.sass */
form {
  clear: both;
  margin-right: 20px;
  padding: 0;
  width: 95%;
}
/* line 217, ../sass/main.administrator.sass */
form div {
  clear: both;
  vertical-align: text-top;
}
/* line 220, ../sass/main.administrator.sass */
form div .submit {
  border: 0;
  clear: bother;
  margin-top: 10px;
}
/* line 224, ../sass/main.administrator.sass */
form .input, form .tabarea, form .multifilearea {
  clear: both;
  margin-bottom: 1em;
  vertical-align: text-top;
  color: #444444;
}
/* line 229, ../sass/main.administrator.sass */
form .required {
  font-weight: bold;
}
/* line 232, ../sass/main.administrator.sass */
form .required label:after {
  color: #ee3322;
  content: "*";
  display: inline;
}
/* line 237, ../sass/main.administrator.sass */
form .submit input[type=submit] {
  background: #62af56;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76bf6b), to(#3b8230));
  background-image: -webkit-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -moz-linear-gradient(top, #76bf6b, #3b8230);
  border-color: #2d6324;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
  padding: 8px 10px;
}
/* line 246, ../sass/main.administrator.sass */
form .submit input[type=submit]:hover {
  background: #5ba150;
}
/* line 248, ../sass/main.administrator.sass */
form .error {
  background: #ffdacc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
}
/* line 254, ../sass/main.administrator.sass */
form .error-message {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  margin: 0;
  padding-left: 4px;
  padding-right: 0;
}
/* line 263, ../sass/main.administrator.sass */
form .error, form .error-message {
  color: #9e2424;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/* line 273, ../sass/main.administrator.sass */
fieldset {
  border: none;
  margin-bottom: 1em;
  padding: 16px 10px;
}
/* line 277, ../sass/main.administrator.sass */
fieldset legend {
  color: #ee3322;
  font-size: 160%;
  font-weight: bold;
}
/* line 282, ../sass/main.administrator.sass */
fieldset fieldset {
  margin-top: 0;
  padding: 10px 0 0;
}
/* line 285, ../sass/main.administrator.sass */
fieldset fieldset legend {
  font-size: 120%;
  font-weight: normal;
}
/* line 289, ../sass/main.administrator.sass */
fieldset fieldset div {
  clear: left;
  margin: 0 20px;
}

/* line 292, ../sass/main.administrator.sass */
label {
  display: block;
  font-size: 110%;
  margin-bottom: 3px;
}

/* line 297, ../sass/main.administrator.sass */
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 1%;
  width: 98%;
}

/* line 303, ../sass/main.administrator.sass */
select {
  clear: both;
  font-size: 120%;
  vertical-align: text-bottom;
}

/* line 307, ../sass/main.administrator.sass */
select[multiple=multiple] {
  width: 100%;
}

/* line 309, ../sass/main.administrator.sass */
option {
  font-size: 120%;
  padding: 0 3px;
}

/* line 312, ../sass/main.administrator.sass */
input[type=checkbox] {
  clear: left;
  float: left;
  margin: 0px 6px 7px 2px;
  width: auto;
}

/* line 318, ../sass/main.administrator.sass */
div.checkbox label {
  display: inline;
}

/* line 320, ../sass/main.administrator.sass */
input[type=radio] {
  float: left;
  width: auto;
  margin: 6px 0;
  padding: 0;
  line-height: 26px;
}

/* line 328, ../sass/main.administrator.sass */
.radio label {
  margin: 0 0 6px 20px;
  line-height: 26px;
}

/* line 331, ../sass/main.administrator.sass */
input[type=submit] {
  display: inline;
  font-size: 110%;
  width: auto;
}

/*
 * Notice and Errors */
/* line 339, ../sass/main.administrator.sass */
.message {
  clear: both;
  color: white;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

/* line 348, ../sass/main.administrator.sass */
.success, .message, .cake-error, .cake-debug, .notice, p.error, .error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -ms-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#e6b800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -o-linear-gradient(top, #ffcc00, #e6b800);
  background-image: linear-gradient(top, #ffcc00, #e6b800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 370, ../sass/main.administrator.sass */
.sucess, .message, .cake-error, p.error, .error-message {
  clear: both;
  color: white;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 383, ../sass/main.administrator.sass */
.success {
  clear: both;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3b8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76bf6b), to(#3b8230));
  background-image: -webkit-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -moz-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -ms-linear-gradient(top, #76bf6b, #3b8230);
  background-image: -o-linear-gradient(top, #76bf6b, #3b8230);
  background-image: linear-gradient(top, #76bf6b, #3b8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 397, ../sass/main.administrator.sass */
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  font-padding: 0.8em;
  font-margin: 1em 0;
}
/* line 403, ../sass/main.administrator.sass */
p.error em {
  font-weight: normal;
  line-height: 140%;
}

/* line 407, ../sass/main.administrator.sass */
.notice {
  color: black;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}

/* line 414, ../sass/main.administrator.sass */
.success {
  color: white;
}

/*
 * Buttons and button link */
/* line 421, ../sass/main.administrator.sass */
input[type=submit] {
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

/*
 * Related */
/* line 431, ../sass/main.administrator.sass */
.related {
  clear: both;
  display: block;
}

/*
 * Debugging */
/* line 438, ../sass/main.administrator.sass */
pre {
  color: black;
  background: #f0f0f0;
  padding: 15px;
}

/* line 443, ../sass/main.administrator.sass */
.cake-debug-output {
  padding: 0;
  position: relative;
}

/* line 447, ../sass/main.administrator.sass */
.cake-debug-output > span {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  color: black;
  display: block;
  float: left;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 464, ../sass/main.administrator.sass */
.cake-debug, .cake-error {
  font-size: 16px;
  line-height: 20px;
  clear: both;
}

/* line 469, ../sass/main.administrator.sass */
.cake-error > a {
  text-shadow: none;
}

/* line 471, ../sass/main.administrator.sass */
.cake-error {
  whie-space: normal;
}

/* line 473, ../sass/main.administrator.sass */
.cake-stack-trace {
  background: rgba(255, 255, 255, 0.7);
  color: #333333;
  margin: 10px 0 5px 0;
  padding: 10px 10px 0 10px;
  font-size: 120%;
  line-height: 140%;
  overflow: auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 485, ../sass/main.administrator.sass */
.cake-stack-trace a {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 4px 10px 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-blick;
  text-decoration: none;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 504, ../sass/main.administrator.sass */
.cake-stack-trace a {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 4px 10px 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 522, ../sass/main.administrator.sass */
.cake-code-dump pre {
  position: relative;
  overflow: auto;
}

/* line 526, ../sass/main.administrator.sass */
.cake-context {
  margin-bottom: 10px;
}

/* line 530, ../sass/main.administrator.sass */
.cake-stack-trace pre {
  color: black;
  background-color: #f0f0f0;
  margin: 0px 0 10px 0;
  padding: 1em;
  overflow: auto;
  text-shadow: none;
}

/*
 * Excerpt */
/* line 542, ../sass/main.administrator.sass */
.cake-code-dump pre, .cake-code-dump pre code {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}
/* line 550, ../sass/main.administrator.sass */
.cake-code-dump .code-hightlight {
  display: block;
  background-color: rgba(255, 255, 0, 0.5);
}

/* line 555, ../sass/main.administrator.sass */
.code-coverage-results div.code-line {
  padding-left: 5px;
  display: block;
  margin-left: 10px;
}
/* line 560, ../sass/main.administrator.sass */
.code-coverage-results div.uncovered span.content {
  background: #eecccc;
}
/* line 563, ../sass/main.administrator.sass */
.code-coverage-results div.covered span.content {
  background: #cceecc;
}
/* line 566, ../sass/main.administrator.sass */
.code-coverage-results div.ignored span.content {
  color: #aaaaaa;
}
/* line 568, ../sass/main.administrator.sass */
.code-coverage-results span.line-num {
  color: #666666;
  display: block;
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}
/* line 575, ../sass/main.administrator.sass */
.code-coverage-results span.line-num strong {
  color: #666666;
}
/* line 577, ../sass/main.administrator.sass */
.code-coverage-results div.start {
  border: 1px solid #aaaaaa;
  border-width: 1px 1px 0px 1px;
  margin-top: 30px;
  padding-top: 5px;
}
/* line 582, ../sass/main.administrator.sass */
.code-coverage-results div.end {
  border: 1px solid #aaaaaa;
  border-width: 0px 1px 1px 1px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
/* line 587, ../sass/main.administrator.sass */
.code-coverage-results div.realstart {
  margin-top: 0px;
}
/* line 589, ../sass/main.administrator.sass */
.code-coverage-results p.note {
  color: #bbbbbb;
  padding: 5px;
  margin: 5px 0 10px;
  font-size: 10px;
}
/* line 594, ../sass/main.administrator.sass */
.code-coverage-results span.result-bad {
  color: #aa0000;
}
/* line 596, ../sass/main.administrator.sass */
.code-coverage-results span.result-ok {
  color: #ffaa00;
}
/* line 598, ../sass/main.administrator.sass */
.code-coverage-results span.result-good {
  color: #00aa00;
}

/*
 * Elements */
/* line 604, ../sass/main.administrator.sass */
#url-rewriting-warning {
  display: none;
}

/*
 * Permissions */
/* line 610, ../sass/main.administrator.sass */
div.form.permissions {
  width: 2000px;
  margin: 0 auto;
}
/* line 613, ../sass/main.administrator.sass */
div.form.permissions .list, div.form.permissions .item {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 618, ../sass/main.administrator.sass */
.box {
  margin: 0;
  padding: 0;
}

/* line 621, ../sass/main.administrator.sass */
.headers {
  padding: 0;
}

/* line 623, ../sass/main.administrator.sass */
.name {
  padding: 0;
  width: 300px;
  font-size: 1.3em;
  text-align: center;
}

/* line 629, ../sass/main.administrator.sass */
.method.box {
  height: 50px;
}

/* line 632, ../sass/main.administrator.sass */
.controller.name {
  background: #bbbbbb;
  height: 50px;
  float: left;
  margin: 0 30px 0 0;
  border: 1px solid white;
}

/* line 639, ../sass/main.administrator.sass */
.method.name, .headers.name {
  width: 250px;
  height: 50px;
  float: left;
  border: 1px solid white;
  background: #eeeeee;
  margin: 0 30px 0 50px;
}

/* line 647, ../sass/main.administrator.sass */
.groups.box, .headers.box {
  float: left;
  clear: none;
}

/* line 652, ../sass/main.administrator.sass */
.group.item, .header.item {
  float: left;
}

/* line 655, ../sass/main.administrator.sass */
.permission.box {
  height: 50px;
  width: 100px;
  border: 1px solid white;
  background: #eeeeee;
}

/* line 661, ../sass/main.administrator.sass */
.header.permission.box {
  background: #bbbbbb;
}

/* line 664, ../sass/main.administrator.sass */
#content_bar {
  width: 28%;
  border: 2px solid #cccccc;
  background: white;
  padding: 5px 0;
  float: left;
  width: 270px;
}

/* line 672, ../sass/main.administrator.sass */
.content_actions {
  width: 100%;
}

/* line 675, ../sass/main.administrator.sass */
#content_box {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 5px;
}
/* line 676, ../sass/main.administrator.sass */
#content_box ul {
  list-style: none;
}
/* line 678, ../sass/main.administrator.sass */
#content_box ul, #content_box li {
  margin: 0;
  padding: 0;
}
/* line 687, ../sass/main.administrator.sass */
#content_box a {
  text-decoration: none;
  color: inherit;
}
/* line 690, ../sass/main.administrator.sass */
#content_box a:hover {
  color: inherit;
}

/* line 693, ../sass/main.administrator.sass */
.content_category, .content_item {
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
  margin: 1px 0;
}

/* line 701, ../sass/main.administrator.sass */
.content_category {
  color: #444444;
  background: #cccccc;
}
/* line 704, ../sass/main.administrator.sass */
.content_category:hover {
  background: #c2c2c2;
}

/* line 708, ../sass/main.administrator.sass */
.content_item {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  background: #eeeeee;
}
/* line 715, ../sass/main.administrator.sass */
.content_item:hover {
  background: #e4e4e4;
}

/* line 719, ../sass/main.administrator.sass */
.clear {
  clear: both;
}

/* line 721, ../sass/main.administrator.sass */
.form label {
  display: block;
}

/* line 724, ../sass/main.administrator.sass */
.form input[type=text] {
  display: block;
  height: 30px;
  font-size: 2em;
}

/* line 729, ../sass/main.administrator.sass */
.form fieldset {
  width: 100%;
}

/* line 732, ../sass/main.administrator.sass */
.right {
  padding: 20px;
  padding-left: 30px;
  float: left;
  width: 60%;
}
/* line 738, ../sass/main.administrator.sass */
.right h1 {
  font-size: 2em;
}
/* line 740, ../sass/main.administrator.sass */
.right p {
  margin-bottom: 5px;
}

/* line 743, ../sass/main.administrator.sass */
.actions {
  text-align: center;
  float: right;
}
/* line 744, ../sass/main.administrator.sass */
.actions ul {
  list-style: none;
}
/* line 748, ../sass/main.administrator.sass */
.actions li {
  float: left;
  margin: 2px;
  background: #007b98;
}
/* line 752, ../sass/main.administrator.sass */
.actions li:hover {
  background: #004759;
}
/* line 754, ../sass/main.administrator.sass */
.actions li a {
  display: block;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

/* line 761, ../sass/main.administrator.sass */
.tabs li a {
  cursor: default;
}

/* line 763, ../sass/main.administrator.sass */
.admin {
  width: 95%;
  margin: 0 auto;
}

/* line 770, ../sass/main.administrator.sass */
.admin_links div {
  text-align: center;
  margin: 10px;
  float: left;
  background: #007b98;
}
/* line 775, ../sass/main.administrator.sass */
.admin_links div:hover {
  background: #004759;
}
/* line 778, ../sass/main.administrator.sass */
.admin_links div a {
  display: block;
  padding: 50px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

/* line 785, ../sass/main.administrator.sass */
.ordering {
  color: #444444;
  padding: 3px;
  float: left;
  font-size: 0.5em;
}

/* line 792, ../sass/main.administrator.sass */
#ContentOrdering {
  width: 60px;
  text-align: center;
}
