$red: #e32
$lightred: #edaca6
.event_left, .event_right
	float: left

.profile_left
	width: 30%

.profile_right
	width: 62%
	
.event_post
	border: 3px solid #eee
	padding: 20px
	margin:
		top: 20px
	
	.event_image
		float: left
		width: 15%
		img
			width: 100%
	.event_desc
		border:
			top: 1px solid $lightred
		margin:
			top: 20px
		padding: 10px
		
	.event_info
		width: 75%
		float: left
		margin:
			left: 50px
			bottom: 20px
.event_title
	margin-bottom: 10px
	font:
		size: 1.7em
		weight: bold
	text-align: center
	a
		border: none
		color: $red
		&:hover
			border: none
	
.event_field
	border:
		bottom: 1px solid #eee
	margin:
		top: 10px
	padding: 10px

.event_header
	float: left
	width: 20%
	color: $lightred
	font:
		weight: bold
.event_description
	.event_detail
		width: 100%
		text-align: left

.event_view
	.event_left
		width: 30%
	.event_right
		width: 62%
	.event_image
		padding: 5px
		img
			width: 100%
		border: 3px solid #eee
	.event_info
		margin:
			left: 5px
		border: 3px solid #eee
		padding: 20px
	.event_description
		.event_detail
	.event_banner
		margin: 0 auto
			top: 20px
		img
			width: 100%
.events_heading
	font:
		weight: bolder
		size: 2.4em
	text-align: center
	
	
.past_events
	border: 3px solid #EAA
	margin-top: 20px
	padding: 20px