$red: #e32
$lightred: #edaca6

.profile_left, .profile_right
	float: left

.profile_left
	width: 30%

.profile_right
	width: 62%

.member_profile
	.member_title
		font:
			size: 2em
			weight: bold
	.member_avatar
		width: 95%
		padding: 5px
		border: 3px solid #eee
		img
			width: 100%
	.member_info
		margin:
			left: 5px
		border: 3px solid #eee
		float: left
		width: 100%
		padding: 20px

	.member_field
		border:
			bottom: 1px solid #eee
		margin:
			top: 10px
		padding: 10px

	.member_header
		float: left
		width: 20%
		color: $lightred
		font:
			weight: bold
		padding: 5px
	.member_detail
		float: left
		width: 75%
		text-align: left
		padding: 5px
		
.member_actions.actions 
	text-align: center
	float: none
	li
		float: none